/* STYLE FOR THE WEBSITE */

/* All website pages */


body {  /* Background image of the website */
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
