/* STYLE FOR MAP OF THE WEBSITE */

/* For : map_of_the_website.html */

/* WILL BE CHANGE */

/* WILL BE CONTINUED */

/* WILL BE TESTED */

#all_pages_links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#all_pages_links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

