/* STYLE FOR MAP OF THE WEBSITE */

/* For : map_of_the_website.html */

/* WILL BE CHANGE */

#all_pages_links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#all_pages_links a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.all_pages_links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.all_pages_links a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}