/* All website pages */

body {  /* Background image of the website */
  background-image: url("pexels-pixabay-159711.jpg");
  text-align: center;
  color: lightgrey;
}


/* Header */  /* All website pages */

.website_title_index, .website_title {  /* Website title for index.html and other html files */
  font-family: "Times New Roman";
  color: lightgrey;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  padding: 0px;
}

.website_title_index {  /* Website title for index.html */
  font-size: 100px;
}

.website_title {  /* Website title style for html files but index */
  font-size: 70px;
}

nav {  /* Title of the other pages of the website by link */
  list-style: none;
}

nav div a {  /* Title of the other pages of the website by link */
  text-decoration: none;
  font-size: 19px;
  color: white;
  border: 1px ridge rgb(183, 183, 190);
  padding: 12px;
}

@media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
{
  nav {  /* Title of the other pages of the website by link */
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 5px;
  }

  nav div a:hover {  /* Title of the other pages of the website by link and specific when it's hover */
    color: black;
    border: 1px ridge rgb(52, 52, 122);
    background-color: rgb(255, 255, 255);
  }
}

@media all and (max-width: 900px)  /* For all media with a maximum of 900px width */
{
   .website_title_index, .website_title {  /* Website title for index.html and other html files */
    font-weight: bold;
   }
    
  .website_title_index {  /* Website title for index.html */
    font-size: 70px;
    margin: 0px;
  }

  .website_title {  /* Website title style for html files but index */
    font-size: 50px;
  }

  nav {  /* Title of the other pages of the website by link */
    margin: 50px;
    line-height: 50px;
  }
}


/* Page title for all website pages */

.page_title {  /* Title of the page */
  color: lightgrey;
  line-height: 90px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 40px;
  -webkit-text-stroke: 1px black;
}

/* For index.html */

.section_welcome_page {  /* Section of the welcome page */
  display: flex;
  font-size: 20px;
}

article { /* Article of the section of the welcome page */
  flex: 3;
}

aside {  /* Aside of the section of the welcome page */
  flex: 1.2;
}


/* For : piletoread.html readingfinished.html readinginprogress.html wishlist.html */

.author_name, .author_date_born_death, .title_of_the_book, .book_year_publication, .summary_title, .book_summary {  /* First and last name of the author, Year of born and year of death of the author, Title of the book, Year of publication of the book, Title : "summary" of the book and Summary of the book */
  width: 300pt;
}

.author_name, .author_date_born_death {  /* First and last name of the author and Year of born and year of death of the author */
  font-family: 'Times New Roman', Times, serif;
}

.author_name, .title_of_the_book {  /* First and last name of the author and Title of the book */
  font-size: 40px;
}

.author_date_born_death, .book_year_publication {  /* Year of born and year of death of the author and Year of publication of the book */
  font-size: 20px;
}

.title_of_the_book, .book_year_publication {  /* Title of the book and Year of publication of the book */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summary_title, .contactform_rules {  /* Title : "summary" of the book and Rules for the contactform */
  font-family: 'Courier New', Courier, monospace;
}

.summary_title {  /* Title : "summary" of the book */
  font-size: 35px;
}

.book_summary {  /* Summary of the book */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
{
  .books {  /* Books */
    display: flex;
    justify-content: space-around;
  } 
}

@media all and (max-width: 900px)    /* For all media with a maximum of 900px width */
{
  .books {  /* Books */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* For : contact.html */

.contactform_rules { /* Rules for the contactform */
  font-size: 25px;
}

#contact {  /* Contactstyle for contact.html */
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 35pt;
  -webkit-text-stroke: 1pt black;  /* Will be fix because it don't work on Firefox but ok on Chrome */
  line-height: 10px; /* Will be fix to have what I want. Will be fix correctly */
}

#name, #email, #message {  /* Contactstyle for contact.html */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#name, #email {  /* Contactstyle for contact.html */
  width: 500px;
  height: 25px;
}

#message {  /* Contactstyle for contact.html */
  min-width: 600px;
  min-height: 300px;
  max-width: 600px;
  max-height: 300px;
}

#submit {  /* Button submit */
  font-family: cursive;
  font-size: 40px;
  font-weight: 500;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  width : 600px;
  height: 60px;
}


/* For : whoami.html */

.story_of_my_life {  /* My biography in "who am I" file */
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
}