/* STYLE FOR THE INDEX BODY */


@media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
{
  .section_welcome_page {  /* Section of the welcome page */
    display: flex;
    font-size: 20px;
    margin-top: 20px;
  }

  article { /* Article of the section of the welcome page */
    flex: 3;
    max-width: 500pt;
    margin-left: 150px;
    margin-right: 50px;
    text-align: justify;
  }

  aside {  /* Aside of the section of the welcome page */
  flex: 1.2;
  }
}