/* STYLE FOR THE NAVBAR WEBSITE but index.html */


/* !!!!! FIX THE CODE FOR AMINATION OTHERS PAGES BUT INDEX !!!!! */

@media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
{
  nav {  /* Title of the other pages of the website by link */    
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: navsidein;
  }

  @keyframes navsidein {  /* Animation to move the nav bar from the left */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  nav div {  /* Title of the other pages of the website by link */    
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: animdivbutton;
  }

  @keyframes animdivbutton {  /* Animation to move the nav bar from the left */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  nav div a {
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: animnavbutton;
  }

  @keyframes animnavbutton {
    0% {
      color:rgb(81, 158, 251);
      background-color: rgb(81, 158, 251);
      box-shadow: inset 0 0 0px black;
    }
    33.33% {
      color: white;
      background-color: white;
      box-shadow: inset 0 0 15px black;
    }
    66.66% {
      color: black;
      background-color: white;
      box-shadow: inset 0 0 15px black;
    }
    100% {
      color: white;
      background-color: rgb(81, 158, 251);
      box-shadow: inset 0 0 0px black;
    }
  }
}