body {  /* Background image of the website */
  background-image: url("pexels-pixabay-159711.jpg");
}

.website_title_page_index {  /* Special style for the website title for index.html */
  margin: 60px;
  font-size: 100px;
}

h1 {  /* Title of the website */
  font-family: "Times New Roman";
  font-size: 70px;
  text-align: center;
  padding: 0px;
  color: lightgrey;
  -webkit-text-stroke: 1px black;
  margin: 0px;
}

ul {  /* Title of the other pages of the website by link */
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0px;
}

ul li {  /* Title of the other pages of the website by link */
  list-style: none;
  padding: 12px;
  border: 1px ridge rgb(29, 29, 58);
}

ul li a {  /* Title of the other pages of the website by link */
  text-decoration: none;
  font-size: 19px;
  color: white;
}

header {  /* Title link to the others pages of the website */
  text-align: center;
}

h2 {  /* Title of the page */
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color : lightgrey;
  font-size: 40px;
}

.books {  /* Books */
  display: flex;
  justify-content: space-around;
}

.author_name {  /* First and last name of the author */
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
}

.author_date_born_death {  /* Year of born and year of death of the author */
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}

.title_of_the_book {  /* Title of the book */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40;
  text-align: center;
}

.book_year_publication {  /* Year of publication of the book */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}

.summary_title {  /* Title : "summary" of the book */
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  text-align: center;
}

.book_summary {  /* Summary of the book */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

p {  /* !!!!! Will be remove when the flex-box problem is fix !!!!! */
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

#contact {  /* Contactform for contact.html */
  color: lightgrey;
  text-align: center;
}