@media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
{
  nav {  /* Title of the other pages of the website by link */    
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-name: navsidein;
  }

  @keyframes navsidein {  /* Animation to move the nav bar from the left */
    0% {
      margin-right: 300%;
      width: 0%;
    }
    100% {
      margin-right: 100%;
      width: 100%;
    }
  }

  .navbutton {
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-name: navbutton;
  }

  @keyframes navbutton {
    0% {
      opacity: 0;
    }
    37% {
      opacity: 0;
      color:rgb(81, 158, 251);
      background-color: rgb(81, 158, 251);
    }
    38% {
      opacity: 1;
    }
    45% {
      color: white;
      background-color: white;
    }
    51% {
      color: white;
      background-color: white;
    }
    70% {
      color: black;
    }
    90% {
      color: black;
      background-color: white;
    }
    100% {
      color: white;
      background-color: rgb(81, 158, 251);
    }
  }


}