/* STYLE FOR THE TITLE WEBSITE special index.html */



/* Website title */

.website_title_index {  /* Website title for index.html */
  font-size: 100px;
}

.website_title_index{
  font-family: "Times New Roman";
  text-decoration: none;
  color: black;
}

@media all and (max-width: 900px)
{
  .website_title_index {
    font-weight: bold;
  }
    
  .website_title_index {
    font-size: 70px;
    margin: 0px;
  }
}
