body {  /* Background image of the website */
  background-image: url("pexels-pixabay-159711.jpg");
  text-align: center;
  color: lightgrey;
}

.website_title_page_index {  /* Special style for the website title for index.html */
  margin: 60px;
  font-size: 100px;
}

h1 {  /* Title of the website */
  font-family: "Times New Roman";
  font-size: 70px;
  padding: 0px;
  margin: 0px;
  -webkit-text-stroke: 1px black;
}

ul {  /* Title of the other pages of the website by link */
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

ul li {  /* Title of the other pages of the website by link */
  list-style: none;
  padding: 12px;
  border: 1px ridge rgb(29, 29, 58);
}

ul li a {  /* Title of the other pages of the website by link */
  text-decoration: none;
  font-size: 19px;
  color: white;
}

h2 {  /* Title of the page */
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  -webkit-text-stroke: 1px black;
}

.section_welcome_page {  /* Section of the welcome page */
  display: flex;
  font-size: 20px;
}

article { /* Article of the section of the welcome page */
  flex: 3;
}

aside {  /* Aside of the section of the welcome page */
  flex: 1.2;
}

.books {  /* Books */
  display: flex;
  justify-content: space-around;
}

.author_name, .author_date_born_death, .title_of_the_book, .book_year_publication, .summary_title, .book_summary {  /* First and last name of the author, Year of born and year of death of the author, Title of the book, Year of publication of the book, Title : "summary" of the book and Summary of the book */
  width: 300pt;
}

.author_name, .author_date_born_death {  /* First and last name of the author and Year of born and year of death of the author */
  font-family: 'Times New Roman', Times, serif;
}

.author_name, .title_of_the_book {  /* First and last name of the author and Title of the book */
  font-size: 40px;
}

.author_date_born_death, .book_year_publication {  /* Year of born and year of death of the author and Year of publication of the book */
  font-size: 20px;
}

.title_of_the_book, .book_year_publication {  /* Title of the book and Year of publication of the book */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summary_title, .contactform_rules {  /* Title : "summary" of the book and Rules for the contactform */
  font-family: 'Courier New', Courier, monospace;
}

.summary_title {  /* Title : "summary" of the book */
  font-size: 35px;
}

.book_summary {  /* Summary of the book */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.contactform_rules { /* Rules for the contactform */
  font-size: 25px;
}

#contact {  /* Contactstyle for contact.html */
  font-family: 'Courier New', Courier, monospace;
  font-size: 35pt;
  -webkit-text-stroke: 0.5pt black;
  line-height: 35px; /* Will be fix to have what I want */
}

#name, #email {  /* Contactstyle for contact.html */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 500px;
  height: 25px;
}

#message {  /* Contactstyle for contact.html */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  min-width: 600px;
  min-height: 300px;
}

.story_of_my_life {  /* My biography in "who am I" file */
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding-left: 300px;
  padding-right: 300px;
}