/* STYLE FOR THE WEBSITE */

/* All website pages */


body {  /* Background image of the website */
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
  



/* STYLE FOR THE WEBSITE TITLE */


.website_title {
    font-family: "Times New Roman";
    text-decoration: none;
    color: black;
    font-size: 70px;
}
    
  
  
@media all and (max-width: 900px)  /* For all media with a maximum of 900px width */
{
    .website_title {
      font-weight: bold;
      font-size: 50px;
    }
}



/* STYLE FOR BOOKS CONTENT */

.dropdown_list_title {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  
  select {
    color: black;
    background-color: white;
    border: 1px solid black;
  }
  
  .author_name, .author_date_born_death {  /* First and last name of the author and Year of born and year of death of the author */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .author_name, .title_of_the_book {  /* First and last name of the author and Title of the book */
    font-size: 40px;
    margin-bottom: 0px;
  }
  
  .author_date_born_death, .book_year_publication {  /* Year of born and year of death of the author and Year of publication of the book */
    font-size: 20px;
  }
  
  .title_of_the_book, .book_year_publication {  /* Title of the book and Year of publication of the book */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .summary_title, .contactform_rules {  /* Title : "summary" of the book and Rules for the contactform */
    font-family: 'Courier New', Courier, monospace;
  }
  
  .summary_title {  /* Title : "summary" of the book */
    font-size: 35px;
  }
  
  .book_summary {  /* Summary of the book */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  @media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
  {
    .books {  /* Books */
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
    } 
  
    .separation_line_between_books {
      background-color: blue;
      height: 1px;
      width: 600pt;
    }
  
    .author_name, .author_date_born_death, .title_of_the_book, .book_year_publication, .summary_title, .book_summary {  /* First and last name of the author, Year of born and year of death of the author, Title of the book, Year of publication of the book, Title : "summary" of the book and Summary of the book */
      width: 300pt;
    }
  }
  
  @media all and (max-width: 900px)    /* For all media with a maximum of 900px width */
  {
    .books {  /* Books */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  
    .separation_line_between_books {
      background-color: blue;
      height: 1px;
      width: 175pt;
    }
  
    .author_name, .author_date_born_death, .title_of_the_book, .book_year_publication, .summary_title, .book_summary {  /* First and last name of the author, Year of born and year of death of the author, Title of the book, Year of publication of the book, Title : "summary" of the book and Summary of the book */
      max-width: 200pt;
    }
  }
  