/* STYLE FOR THE WEBSITE */

@import url("./style/websiteTitle.css");
@import url("./style/navbar.css");
@import url("./style/home.css");
@import url("./style/books.css");
@import url("./style/footer.css");
@import url("./style/mapOfTheWebsite.css");
@import url("./style/pageTitlePict.css");



/* Put each style components/routes in a file */

/* All website pages */


body {
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}