/* STYLE FOR THE WEBSITE FOOTER */


footer {
    display: flex;
    justify-content: center;
    background-color: black; }
  
footer a {
    margin-right: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    text-decoration: none;
}