/* STYLE FOR THE PAGE TITLE and PICTURES */



@media all and (min-width: 901px)  /* For all media with a minimum of 901px width */
{
  .page_title_head {
    display: flex;
    justify-content:space-evenly;
    height: fit-content;
    align-items: center;
    margin-bottom: 5px;
  }

  .page_title {  /* Title of the page */
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 40px;
  }

  .picture_15_100_size {
    inline-size: 15%;
  }

  .picture_30_100_size {
    inline-size: 30%;
  } 
}

@media all and (max-width: 900px)  /* For all media with a maximum of 900px width */
{
  .page_title_head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page_title {  /* Title of the page */
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 40px;
  }

  .picture_15_100_size {
    inline-size: 30%;
  }

  .picture_30_100_size {
    inline-size: 50%;
  } 
}